#root {
  margin: 0 auto;
  padding-left: 0
}

.nav {
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: white;
  font-size: 2em;
  width: 100vw;
  padding: 0;
  margin: 0;
  
}
body {
  overflow-x: hidden; /* Hide scrollbars */
}

.nav a {
  color: white;
  text-decoration: none;
}

.spell-info {
  padding: 4px;
}

ul {
  list-style: none;
}