#root {
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: white;
  font-size: 2em;
  width: 100vw;
}

.nav a {
  color: white;
  text-decoration: none;
}

.spell-info {
  padding: 4px;
}

ul {
  list-style: none;
}